/* Warrenty Registration */

.warranty-registration {
  
  .field-name-body {
  	margin: 15px;
  }

  .webform-component--product-info {
  	margin: 15px;
  	display: inline-block;	
  }

  .form-item{
  	float: left;
  }

  .webform-submit{
  	margin-left: 15px;
  }
  
}  